In [2]:
import pandas as pd

summer = pd.read_csv('summer.csv')
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [3]:
rows = list(range(5)) + [345, 876]
summer.iloc[rows]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
345,1900,Paris,Cycling,Cycling Track,"LAKE, John Henry",USA,Men,Sprint Indivual,Bronze
876,1904,St Louis,Football,Football,"BRADY, Joseph J.",USA,Men,Football,Bronze

In [6]:
col = summer.columns[:3].to_list() + ["Gender", "Event"]
col

['Year', 'City', 'Sport', 'Gender', 'Event']

In [7]:
summer.loc[:, col]

       Year    City      Sport Gender                       Event
0      1896  Athens   Aquatics    Men              100M Freestyle
1      1896  Athens   Aquatics    Men              100M Freestyle
2      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
3      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
4      1896  Athens   Aquatics    Men  100M Freestyle For Sailors
...     ...     ...        ...    ...                         ...
31160  2012  London  Wrestling    Men                    Wg 84 KG
31161  2012  London  Wrestling    Men                    Wg 96 KG
31162  2012  London  Wrestling    Men                    Wg 96 KG
31163  2012  London  Wrestling    Men                    Wg 96 KG
31164  2012  London  Wrestling    Men                    Wg 96 KG

[31165 rows x 5 columns]

In [13]:
summer = summer.set_index("Athlete")

In [14]:
summer.loc['PHELPS, Michael', col]

                 Year     City     Sport Gender                   Event
Athlete
PHELPS, Michael  2004   Athens  Aquatics    Men          100M Butterfly
PHELPS, Michael  2004   Athens  Aquatics    Men          200M Butterfly
PHELPS, Michael  2004   Athens  Aquatics    Men          200M Freestyle
PHELPS, Michael  2004   Athens  Aquatics    Men  200M Individual Medley
PHELPS, Michael  2004   Athens  Aquatics    Men  400M Individual Medley
PHELPS, Michael  2004   Athens  Aquatics    Men  4X100M Freestyle Relay
PHELPS, Michael  2004   Athens  Aquatics    Men     4X100M Medley Relay
PHELPS, Michael  2004   Athens  Aquatics    Men  4X200M Freestyle Relay
PHELPS, Michael  2008  Beijing  Aquatics    Men          100M Butterfly
PHELPS, Michael  2008  Beijing  Aquatics    Men          200M Butterfly
PHELPS, Michael  2008  Beijing  Aquatics    Men          200M Freestyle
PHELPS, Michael  2008  Beijing  Aquatics    Men  200M Individual Medley
PHELPS, Michael  2008  Beijing  Aquatics    Men  400M Individual Medley
PHELPS, Michael  2008  Beijing  Aquatics    Men  4X100M Freestyle Relay
PHELPS, Michael  2008  Beijing  Aquatics    Men     4X100M Medley Relay
PHELPS, Michael  2008  Beijing  Aquatics    Men  4X200M Freestyle Relay
PHELPS, Michael  2012   London  Aquatics    Men          100M Butterfly
PHELPS, Michael  2012   London  Aquatics    Men          200M Butterfly
PHELPS, Michael  2012   London  Aquatics    Men             200M Medley
PHELPS, Michael  2012   London  Aquatics    Men        4X100M Freestyle
PHELPS, Michael  2012   London  Aquatics    Men           4X100M Medley
PHELPS, Michael  2012   London  Aquatics    Men        4X200M Freestyle